body {
    background-color: #f6fdf2;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: 4px solid #354F52;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 3rem;
    color: #2F3E46;
    margin: 0;
}

#alert-box {
    background-color: #CAD2C5;
    border-radius: 10px;
    color: #785451;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 1000;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.flex-clmn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-clmn label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#charts-container {
    display: grid;
    gap: 7rem;
    grid-template-columns: repeat(3, minmax(500px, 1fr));
    margin: 3rem 0;
    padding: 3rem 0;
    border: 2px solid #2F3E46;
    justify-self: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #F6FFF0;
}

#trafficinfo {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    margin: 0 1rem;
    border-top: 3px solid #354F52;
    padding: 1.5rem 0 1rem 0;
    font-size: 2rem;
}

#myTable_wrapper {
    margin: 0 1rem;
    border-top: 1px solid #354F52;
    padding: 1.5rem 0;
}